body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex: 1 0 auto;
}

.navfix{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.container-fluid{
  .navbar-brand{
    margin: 0;
    padding: 0 10px 0 0;
    min-height: 50px;
  }
}

.navbar{
  --bs-navbar-padding-y: 0.2rem;
}

