body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navfix{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.red{
  background-color: $red-200;
}

.footer{
  width: 100%;
  position: relative;
  bottom: 0;
}

.container-fluid{
  .navbar-brand{
    margin: 0;
    padding: 0 10px 0 0;
  }
}

.navbar{
  --bs-navbar-padding-y: 0.2rem;
}