.tabela-background thead tr th{
    background-color: #eae8bf;
}
.tabela-background tbody tr td{
    background-color: #FFFDD7;
}
.img-compra{
    max-height: 20vh;
}
.row-down{
    padding-top: 9vh;
    margin-left: -100px;
}
.linha-img{
    max-width: 530px;
}