
.body-background{ 
  background: rgb(245,248,237);
  background: linear-gradient(0deg, rgba(245,248,237,1) 22%, rgba(236,246,242,1) 55%, rgba(227,246,246,1) 70%);
}

.titulo{
  text-align: center;
}

.alinhalink{
  .qmsomos{
    font-size: 15px;
    display:block;  
  }
  text-align:center;
  display: block;
}

//estilizaçao dos botoes de cadastro e esqueceu a senha
.login-img{
  max-height:40vh ;
}
ul{
  margin: 0;
  padding: 0;
}

ul li .btn-login{
  width: 100%;
  background-color: #def7c7;
  justify-self: center;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  margin-left: 55px;
  border-radius: 7px;
}

ul li .btn-login:hover{
  list-style: none;
  background: #ACBD98;
  color: white;
  transition-duration: 500ms;
  // border-radius: 7px;
}

.botao li{
  width: 23vw;
  height: 30px;
  line-height: 30px;
  text-align: center;
  // display: inline-block;
  border-radius: 7px;
  margin-bottom: 2vh;
  margin-left: 25px;
}

.botao li a{
  display: block;
}
//alinhamento do input
.alinhainput{
  margin-left: 55px;
  margin-bottom: 3vh;
}
label{
  display: block;
  text-align: left;
}
.base{
  min-height: 100vh;
}
.btn{
  min-width: 11.5vw;
}

.oi{
  margin: 0 -36px 0 -12px;
  margin-right: -36px;
  margin-top: 15px;
}

/* .bg-botao{
  background-color: #ADC096!important;
} */