body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0f1d0!important;

    main {
        flex: 1 0 auto;
        background-color: #e0f1d0;
    }

    .footer{
        width: 100%;
        position: relative;
        bottom: 0;
        border-bottom: 1px solid;
        border-color: green;
    }
}

.container-fluid {
    .navbar-brand {
        margin: 0;
        padding: 0 10px 0 0;
        min-height: 50px;
    }
}
/* .navbar {
    --bs-navbar-padding-y: 0.2rem;
} */
.card {
    background-color: #ADC096 !important;
    
    .card-action {
        padding: 0 20px 0px 20px; // t = TOP, r = RIGHT, b = BOTTOM, l = LEFT
        display: flex;
        justify-content: space-between;


    }
    .card-body {
        min-height: 200px;
    }
    .card-produto{
        min-height: 100px;
    }
}
.bg-cor{
    background-color: #FFFDD7 !important;
}
.bg-verde{ 
    background-color: rgb(13, 109, 56);
}

.txt-cor{
    color: #8D5F2E !important;
}

input::placeholder{
    color: #8D5F2E !important;
}

/* .border-brown{
    border: 8px;
    border-color: #8D5F2E!important;

} */
.img-balao{
    margin-left: -60px;
}
ul li{
    list-style: none;
}
.invertida{
    transform: scaleX(-1);
}
/* .sergio-margin{
    margin-left: 30%;
} */

.sergio-margin{
    margin-left: 160px !important;
}



//Carrinho
.btn-adicionar-carrinho{
    border: solid #198754;
    border-radius: 7px;
    background-color: #198754;
    color: white;
}
.btn-adicionar-carrinho:hover{
    // border: solid #198754;
    border-radius: 7px;
    background-color: #13653f;
    color: white;
    font-size: medium;
}
.alinha-preco{
    width: 50px;
    height: 30px;
    align-items: center;
}


//Cadastro
.container-cadastro{
    height: 100%;
    align-items: center;
    justify-content: center;
}
.btn-cadastro{
    margin-bottom: 2.3px;
}
.btn-cadastro:hover{
    background-color: #714d25;
    font-size: medium;
    margin-bottom: 0;
}
